body {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #FFE1E1;
	margin: auto;
	font-family: 'Calibri';
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFB4B4;	
}

ul.navbar li {
	float: left;
	
}
ul.navbar li:last-child {
	float: right;
	
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}


ul.navbar li a:hover:not(.active) {background: linear-gradient(90deg, #ff9966, #ff5e62);}

ul.navbar li a.active {background-color: #04AA6D;}

ul.navbar li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.navbar li.right, 
  ul.navbar li {float: none;}
}


/* .navbar { */
	/* position: absolute; */
	/* width: 100%; */
	/* height: 10%; */
	/* left: 0px; */
	/* top: 0px; */
	/* background: #FFB4B4; */
	/* border: 1px solid #E29D9D; */
	/* box-sizing: border-box; */
	/* z-index: 9999; */
/* } */

/* .navbar a{ */
	
	/* position: absolute; */
	/* width: 90px; */
	/* height: 5px; */
	/* top: 34px; */
	/* text-decoration: none; */
	/* font-style: normal; */
	/* font-weight: 400; */
	/* font-size: 28px; */
	/* line-height: 34px; */
/* /* identical to box height */

	/* display: flex; */
	/* align-items: center; */
	/* color: #000000; */

/* } */

/* .navbar a:hover{ */
/*	color: white;
} */

.content {

	width:100%;
	height: 80%;
}

.helloworld-text {
	
	width: max-content;
	height: 133px;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 67px;
	display: flex;
	align-items: center;

	color: #000000;
	margin: 0 auto;
}

.content .text {
	
	width: max-content;
	height: 222px;

	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 34px;
	display: flex;
	align-items: center;

	color: #000000;
	margin: 0 auto;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  display:inline-block;
  position: absolute;
  top: 120px;
  border:solid 1px gray;
  box-sizing: border-box;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
}

.card img{
	border-bottom:solid 1px gray;
}

/*****************************************/

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.blog_post {
  position: relative;
  padding: 6rem 3rem 6rem 6rem;
  background: #fff;
  max-width: 600px;
  border-radius: 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: -1;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -50px;
  top: 10px;
  transform: translateY(-50%);
}

.blog-img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.blog-date {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

.btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1rem 1rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all .2s ease-in;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  width: max-content;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}


/****************slider************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: 15px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
